<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body class="bg-gray-300 select-none">

    <%- include('./partials/nav'); %>

        <hr class="mb-20">

        <div class="container mx-auto">

            <div class="bg-gray-100 mx-2 my-4 p-4 shadow-xl">
                <h1 class="text-2xl">Aktuelle Einkaufsliste</h1>
                <hr>

                <div class="md:flex md:flex-row-reverse md:justify-between md:items-center">
                    <form action="/complete" method="get" class="w-full md:w-1/3 md:pl-8">
                        <button type="submit" class="w-full bg-none border-2 rounded-lg border-purple-500 hover:border-purple-300 text-purple-500 hover:text-purple-300 text-center p-2 mt-4">
                            Einkauf abschließen
                        </button>
                    </form>

                    <div class="bg-white p-4 shadow-xl mt-2 w-full md:w-2/3 transition duration-500 ease-in-out transform hover:scale-105">
                        <form action="/api/items/new" method="post" class="flex justify-between items-center">
                            <input type="text" placeholder="Neues Produkt" name="name" autocomplete="off" class="border-b-2 border-gray-200 focus:border-black p-1 flex-grow">
                            <button type="submit" class="ml-8">
                                <svg class="w-8 h-8 text-purple-700 hover:text-purple-300" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>

                <hr class="my-2 md:my-4 border-purple-500">

                <div class=" mt-2">
                    <% for(var i=0; i < einkauf.items.length; i++) { %>
                        <div class="bg-white border-b-2 border-purple-500 mb-4 p-4 shadow-xl <% if(einkauf.items[i].completed){ %> line-through bg-gray-100 border-none mx-2 text-gray-700 <% } %> transition duration-500 ease-in-out transform hover:translate-x-1 hover:shadow-2xl">
                            <div class="flex justify-between items-center">
                                <p>
                                    <%= einkauf.items[i].name; %>
                                </p>
                                <div class="flex">
                                    <form action="/api/items/complete/<%= i %>" method="post" class="flex justify-between items-center">
                                        <button type="submit">
                                            <svg class="w-7 h-7 hover:text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                            </svg>
                                        </button>
                                    </form>
                                    <form action="/api/items/delete/<%= i %>" method="post" class="flex justify-between items-center">
                                        <button type="submit" class="ml-4">
                                            <svg class="w-7 h-7 hover:text-red-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
                                            </svg>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>

            </div>
        </div>

</body>

</html>