<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body class="bg-gray-300 select-none">

    <%- include('./partials/nav'); %>

        <hr class="mb-20">

        <div class="container mx-auto">
            <div class="bg-gray-100 mx-2 my-4 p-4 shadow-xl relative">
                <h1 class="text-2xl">Alte Einkäufe</h1>
                <%- include('./partials/close'); %>
                <hr>
                <div class="mt-2">
                    <% for(var i=0; i < einkaeufe.length; i++) { %>
                        <div class="bg-white mb-4 p-4 shadow-xl transition duration-500 ease-in-out transform hover:scale-105 hover:shadow-2xl">
                            <div class="flex flex-col-reverse sm:flex-row justify-between items-center">
                                <p>Einkauf vom <%= einkaeufe[i].date_end.toLocaleString('de-DE'); %></p>
                                <p class="text-lg">€ <%= einkaeufe[i].sum %></p>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>

</body>

</html>